html{
  font-family: 'Jua', sans-serif;
  background-image: url(sky.png);
  text-align: center;
}

img{
  height: 300px;
}

.game{
  text-align: center;
  width: 350px;
  padding: 25px;
}

.grid1{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1200px;
  margin: auto;
}

.grid2{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1600px;
  margin: auto;
}
